.header {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.header nav {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}
